.footer-section {
  width: 100%;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-section svg {
  height: 1rem;
}
