.product-item {
  flex-basis: 30%;
  margin: 1.66%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.product-image-link {
  width: 100%;
  background-color: transparent;
}

.product-image-link .productImg {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 #d3d3d3;
  border: 1px solid #dfe6e9;
  height: 15.88rem;
  transition: transform 0.2s ease-out;
}

.product-item:hover .productImg {
  transform: translateY(-0.5rem);
}

.product-item span {
  width: 100%;
  margin-left: 0.58rem;
  margin-bottom: 0.4rem;
}

.product-item p {
  letter-spacing: 2px;
}

.product-item .price {
  font-weight: bolder;
  letter-spacing: 3px;
  font-size: 1.3rem;
}
