.updateProfilePageContainer {
  width: 96%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.updateProfileForm {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  justify-content: space-around;
  align-items: center;
  height: 580px;
  margin-top: 30px;
  box-shadow: 0 0.29rem 0.88rem 0 #d3d3d3;
  border: 0.05rem solid #dfe6e9;
}

.nameInput,
.passwordInput,
.emailInput,
.confirmPasswordInput {
  display: block;
  width: 100%;
  background-color: rgb(236, 235, 233);
  color: black;
  border: none;
  border-radius: 10px;
  padding: 10px 0px;
  padding-left: 10px;
}

.emailLabel,
.passwordLabel,
.nameLabel,
.confirmPasswordLabel {
  width: 80%;
}

.updateProfileBtn {
  width: 50%;
  background-color: black;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 7px;
  border-radius: 10px;
}

.formName {
  font-size: 40px;
  letter-spacing: 2px;
}

.errorMsg {
  width: 80%;
}

.my-orders-section {
  margin-left: 20px;
  flex-basis: 70%;
  padding-top: 10px;
}
.my-orders-container {
  margin-top: 30px;
}

.my-orders-title {
  font-size: 2rem;
}
